html {
    height: 100%;
}

body {
    font-family: Verdana, sans-serif;
    background: rgb(185, 185, 185);
    height: 100%;
}

header {
    background: rgb(185, 185, 185);
    position: fixed;
    width: 100%;
    margin: auto;
    overflow: auto;
}

header h1 {
    float: left;
}

header .logout {
    float: right;
    border-radius: 15px;
    background: rgb(161, 160, 160);
    padding: 6px;
    text-decoration: none;
    color: black;
}

header .logout:hover {
    transition-duration: 500ms;
    color: rgb(128, 124, 124);
}

main {
    min-height: 100vh;
}

main .content {
    min-height: 95vh;
    background: rgb(163, 163, 163);
}

main .content #task {
    background-color: rgb(151, 151, 151);
    border-radius: 5px;
}

main .content #task #delBtn,  main .content #task #cmpltBtn, main .content #task #incmpltBtn {
    background: black;
    color: white;
    float: right;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    header {
        padding-top: 10px;
    }

    header h1, .logout {
        margin-bottom: 10px;
    }

    header h1 {
        margin-top: 4px;
        margin-left: 10px;
        font-size: 20px;
    }

    .logout {
        margin-right: 10px;
    }

    #desktop {
        display: none;
    }

    #mobile {
        background: rgb(163, 163, 163);
        width: 100%;
        text-align: center;
        overflow: auto;
        margin: auto;
        height: 28px;
    }

    #mobile a {
        display: inline-block;
        text-decoration: none;
        color: black;
        height: 100%;
        margin-right: 10px;
        padding: 5px;
        font-size: 15px;
    }

    #mobile .active {
        border: 1px solid rgb(151, 151, 151);
        background: rgb(151, 151, 151);
    }

    main {
        padding-top: 3px;
    }

    main .content {
        margin-top: 68px;
        padding: 5px;
    }

    main .content #task {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 5px;
    }

    main .content #task #delBtn {
        font-size: 15px;
        margin-left: 8px;
    }
    
    main .content #task #cmpltBtn {
        font-size: 13px;
    }

    main .content #task #incmpltBtn {
        font-size: 15.5px;
    }
}

@media only screen and (min-width: 1200px) {
    header h1 {
        font-size: 35px;
    }
    
    header nav a {
        font-size: 30px;
    }

    #mobile {
        display: none;
    }

    #desktop {
        padding: 15px;
        float: left;
        min-height: 95vh;
        border-radius: 10px;
        background: rgb(163, 163, 163);
        font-size: 20px;
        width: 10vw;
    }
    
    #desktop a {
        padding: 8px;
        margin-bottom: 10px;
        display: inline-block;
        text-decoration: none;
        color: black;
        border-radius: 5px;
    }
    
    #desktop .active, #desktop a:hover {
        background: rgb(151, 151, 151);
    }

    main {
        padding: 5px;
        padding-top: 10px;
    }

    main .content {
        padding: 15px;
        float: right;        
        border-radius: 10px;
        font-size: 20px;
        width: 82vw;
    }

    main .content #task {
        padding: 8px;
        margin-bottom: 5px;
    }

    main .content #task #delBtn {
        font-size: 15px;
        margin-left: 8px;
    }
    
    main .content #task #cmpltBtn {
        font-size: 13px;
    }

    main .content #task #incmpltBtn {
        font-size: 15.5px;
    }
}

.notificationBar {
    background: rgb(163, 163, 163);
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    display: none;
    margin-left: 45%;
}