html {
    height: 100%;
}

body {
    font-family: Verdana, sans-serif;
    background: black;
}

header {
    font-family: Verdana, sans-serif;
    overflow: auto;
    margin: auto;
    position: fixed;
    width: 100%;
}

header div {
    padding: 10px;
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 15px;
    height: 30px;
    border-bottom: 2px solid white;
}

header div h1 {
    margin-top: 3.5px;
    float: left;
    font-size: 19px;
}

header div nav {
    font-size: 15px;
    float: right;
}

header div nav a {
    background: rgb(151, 150, 150);
    color: white;
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
}

header div nav a:hover {
    transition-duration: 500ms;
    color: white;
}

main {
    font-family: Verdana, sans-serif;
    overflow: auto;
    margin: auto;
}

main .container {
    margin-top: 55px;
    height: 80vh;
}

.p1 {
    text-align: center;
    color: white;
    margin-top: 30vh;
    font-size: 5vw;
}

.p2 {
    text-align: center;
    color: white;
    margin-top: 1.5vh;
    font-size: 3vw;
}

.p3 {
    text-align: center;
    color: white;
    margin-top: 1.8vh;
    font-size: 2vw;
}