body {
    background: black;
}

header {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: rgb(124, 124, 124) solid 1px;
    overflow: auto;
    margin: auto;
}

header div {
    font-family: sans-serif;
    color: white;
    font-size: 35px;
}

header nav {
    float: right;
}

header nav a {
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(151, 150, 150);
}

header nav a:hover {
    transition-duration: 500ms;
    color: white;
}

header nav a:nth-child(3) {
    display: none;
    border-radius: 50%;
    padding: 10px;
    background: rgb(184, 73, 184);
    color: white;
    /* display: none; */
}

header nav a:nth-child(4) {
    display: none;
    color: black;
    padding: 10px;
    background: white;
    border-radius: 5px;
    /* border: white solid 5px; */
}

main {
    overflow: hidden;
    margin: auto;
}

.header {
    width: 50%;
    padding-top: 12.5%;
    text-align: center;
    margin: auto;
    /* border: white solid 1px; */
    color: white;
    font-size: 80px;
}

.header2 {
    width: 50%;
    /* padding-top: 12.5%; */
    text-align: center;
    margin: auto;
    /* border: white solid 1px; */
    color: white;
    font-size: 80px;
}

.header3 {
    width: 50%;
    padding-top: 2.5%;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 35px;
}