<!doctype html>
<html>
    <head>
        <title>Amazeriffic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheets/dashboard.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    </head>

    <body>
        <header>
            <div class="container">
                <div class="notificationBar"></div>
                <h1>Amazeriffic!</h1>
                <a href='' class="logout">Logout</a>
                <nav class="tabs" id="mobile">
                    <a href="" class="newest">Newest</a>
                    <a href="" class="oldest"><span>Oldest</span></a>
                    <a href="" class="add"><span>Add</span></a>
                    <a href="" class="completed"><span>Completed</span></a>
                </nav>
            </div>
        </header>
        <!-- <div class="tabs" id="mobile">
            <a href="" class="newest">Newest</a>
            <a href="" class="oldest"><span>Oldest</span></a>
            <a href="" class="add"><span>Add</span></a>
            <a href="" class="completed"><span>Completed</span></a>
        </div> -->
        <main>
            <div class="container">
                <div class="tabs" id="desktop">
                    <a href="" class="newest">Newest</a><br>
                    <a href="" class="oldest"><span>Oldest</span></a><br>
                    <a href="" class="add"><span>Add</span></a><br>
                    <a href="" class="completed"><span>Completed</span></a>
                </div>
                <div class="content">
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="javascripts/dashboard.js"></script>
    </body>
</html>