<!doctype html>
<html>
    <head>
        <title>Amazeriffic</title>
        <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/dashboard.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    </head>

    <body>
        <header>
            <div class="container">
                <div class="notificationBar"></div>
                <h1>Amazeriffic!</h1>
                <nav>
                    <a href='' class="logout">Logout</a>
                    <!-- <a href="register.html">Sign Up!</a>  -->
                    <!-- <a href="#">FAQ</a>
                    <a href="#">Support</a> -->
                </nav>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="tabs">
                    <a href="" class="newest">Newest</a><br>
                    <a href="" class="oldest"><span>Oldest</span></a><br>
                    <a href="" class="add"><span>Add</span></a><br>
                    <a href="" class="tags"><span>Tags</span></a><br>
                    <a href="" class="completed"><span>Completed</span></a>
                </div>
                <div class="content">
                    <!-- <div id="task">write a letter 
                        <button id="delBtn">&#10539;</button>
                        <button id="cmpltBtn">&#10003;</button>
                    </div>
                    <div id="task">don't write a letter</div> -->
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="javascripts/dashboard.js"></script>
    </body>
</html>