<!doctype html>
<html>
    <head>
        <link href="stylesheets/auth.css" rel="stylesheet" type="text/css">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <title>Login Amazeriffic</title>
    </head>
    <body>
        <div class="card-body">
            <h1>Login to Get Started</h1>
            <div class="header2">Don't have an account? <a class ="signLink" href="register.html">Sign Up</a></div>
            <form action="/auth/login" method="POST">
                <label for="email-reg" class="form-label">Email</label><br>
                <input type="text" class="form-control" id="email-reg" name="email" autofocus><br>
                <label for="password-reg" class="form-label">Password</label><br>
                <input type="password" class="form-control" id="password-reg" name="password"><br>
                <button type="submit" class="btn"><b>Login</b></button>
            </form>
        </div>
    </body>
</html>